.main-header {
    display: grid;

    padding-top: 2.6rem;
    background-image: url("/images/background.png");
    min-height: 13.6rem;




}

.header-title {
    font-size: 1.8rem;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav{
    
}

.switch {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.search{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin-top: 3rem;
    position: absolute;
}
.search-bar {
    min-width: 32.7rem;
    min-height: 8rem;
    border-radius: 0.6rem;
    margin-left: 0.8rem;
    
    

    
}
.searchbar-logo{
    position: absolute;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    align-content: center;
    margin-left: 21.9rem;
    
    .logo{
        margin-right: 2.4rem;
    }
}

.searchbar-paragraf{
    position: absolute;
    margin-left: 2.35rem;
    font-size: 1.6rem;

    p{
        color: #19202D;
    }
}